@use "abstracts" as *;

.container {
  @include main-layout;

  &.isCentered {
    > * {
      grid-column: center-start / center-end;
    }
  }

  &.isFullWidth {
    > * {
      grid-column: full-start / full-end;
    }
  }

  .noGap {
    gap: 0;
  }

  @include media-query("xl", "up") {
    &.isCentered > * {
      width: 111rem;
    }
  }
}
