@use "abstracts" as *;

.aboutMeWrapper {
  padding: 4rem 0;
  position: relative;

  .contentWrapper {
    column-gap: 7.3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }

  .rightSection,
  .imgWrapper {
    grid-column: span 2;
  }

  .rightSection {
    display: grid;
    row-gap: 2.6rem;

    .headline {
      letter-spacing: 8px;
      text-transform: uppercase;
      font-size: 4.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100px;
      text-align: center;
    }

    .subcopyWrapper {
      border-bottom: 1px solid $grey-80;
      border-top: 1px solid rgba(0, 0, 0, 0);
      display: flex;
      justify-content: center;
      padding-bottom: 23px;
      text-align: center;
    }

    .subcopy {
      font-family: Jost, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 24px;
      max-width: 75%;
    }

    .copyWrapper {
      display: grid;
      row-gap: 1rem;
      text-align: left;
      font-family: Jost, sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 35px;
    }

    .cta {
      justify-self: center;
      border: 1px solid $grey-80;
      text-align: center;
      min-width: 150px;
      min-height: 45px;
      padding-top: 10px;
      padding-left: 25px;
      padding-right: 25px;
      font-size: 19px;
      font-style: italic;
      line-height: 24px;
      text-transform: capitalize;
      transition:
        background-color 0.2s,
        color 0.2s;

      &:hover {
        background-color: $grey-80;
        color: $white;
      }
    }
  }

  .imgWrapper {
    position: relative;
    height: 38rem;

    .img {
      object-fit: cover;
      object-position: 25% 30%;
    }
  }

  @include media-query("md", "up") {
    .contentWrapper {
      row-gap: initial;

      .rightSection,
      .imgWrapper {
        grid-column: initial;
      }

      .imgWrapper {
        height: 100%;

        .img {
          object-position: 50% 50%;
        }
      }
    }
  }

  @include media-query("xl", "up") {
    .contentWrapper {
      width: 111rem;
    }
  }
}
