@use "abstracts" as *;

.reviewCard {
  display: grid;
  gap: 2rem;
  padding: 3rem;
  border-radius: 1.2rem;
  background-color: $peach-96;
  overflow: hidden;

  .headline {
    color: $grey-20;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 3rem */
  }

  .subcopy {
    color: $grey-40;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.7rem */
  }

  .ratings {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;

    .star {
      width: 2.4rem;
      height: 2.4rem;
      fill: $grey-40;
    }
  }

  .copy {
    color: $grey-30;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.7rem */
  }
}
