@use "abstracts" as *;

.container {
  @include main-layout;

  &.isCentered {
    > * {
      @extend .innerColsCentered;
    }
  }

  &.isFullWidth {
    > * {
      grid-column: full-start / full-end;
    }
  }

  .fullWidth {
    grid-column: full-start / full-end;
  }

  .centered {
    @extend .innerColsCentered;

    > * {
      grid-column: 1 / -1;
    }
  }

  .noGap {
    gap: 0;
  }
}
