// COLOR VARIABLES
$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;
$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-primary-dark: #4133e3;
$color-primary: #6356e5;

$bg-color-default-black: #121313;
$color-default-black: #333;
$color-default-white: #fff;


$grey-50: #808080;
