/* == Absolute == */
$white: #fff;
$black: #000;

/* == Soft Peach Shades == */
$peach-85: #e1dbd1;
$peach-90: #ebe7e0;
$peach-92: #eeebe5;
$peach-95: #f5f3f0;
$peach-96: #f7f6f3;
$peach-97: #f9f8f6;
$peach-98: #fbfaf9;
$peach-99: #fdfdfc;

/* == Grey Shades == */
$grey-10: #191919;
$grey-20: #333333;
$grey-30: #4c4c4c;
$grey-40: #666666;
$grey-50: #808080;
$grey-60: #999999;
$grey-70: #b3b3b3;
$grey-80: #cccccc;
