@use "abstracts" as *;

.socialMediaIcons {
  display: flex;
  column-gap: 2.4rem;
  align-items: center;

  .socialMediaLink {
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-content: center;
  }

  .socialMediaIcon {
    width: 100%;
    height: 100%;
    fill: $grey-50;
  }
}
