@use '../abstracts' as *;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

input,
textarea {
  color: $color-white;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.222222px;
  line-height: 2.6rem;
  max-width: 100%;
  text-transform: uppercase;
}
