@use "../abstracts" as *;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  color: $grey-30;
}

a,
a:visited,
a:link {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

input,
textarea {
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: -0.222222px;
  line-height: 2.6rem;
  max-width: 100%;
}
