@use "../abstracts" as *;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  color: $grey-30;
}

a,
a:visited,
a:link {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}

ul {
  list-style: none;
}

input,
textarea {
  font-family: inherit;
  font-size: 1.6rem;
  letter-spacing: -0.222222px;
  line-height: 2.6rem;
  max-width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 92px); /* Full viewport height */
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-overlay {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Optional: add a dark overlay */
  width: 100%;
  height: 100%;
}

.hero-overlay h1 {
  font-size: 3em;
  margin: 0;
}

.hero-overlay p {
  font-size: 1.5em;
}
