@use "abstracts" as *;

.header {
  padding: 1rem;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

  &.sticky {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px $grey-80;
    animation: fadeIn 0.4s forwards;
  }

  .logo {
    margin-right: auto;
    display: inline-block;
  }

  .navBar {
    display: none;
  }

  @include media-query("lg", "up") {
    padding: 1.5rem;

    .navBar {
      display: flex;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
