@use "abstracts" as *;

.footer {
  .footerWrapper {
    display: grid;
    row-gap: 2.4rem;
    border-top: 1px solid $grey-80;
    padding-top: 4.8rem;
  }

  .copyRightSection {
    border-top: 1px solid $grey-80;
    text-align: center;
    color: $grey-50;
    font-size: 1.4rem;
    display: grid;
    row-gap: 1.4rem;
    padding: 2.4rem;

    .toTop {
      align-items: center;
      border-radius: 0.4rem;
      column-gap: 0.4rem;
      display: flex;
      justify-content: center;
      justify-self: center;
      padding: 0.5rem 1rem;
      width: fit-content;
      transition: all 0.3s ease-in-out;
      text-transform: uppercase;
      background-color: $grey-80;
      color: $white;

      svg {
        fill: $grey-50;
        fill: currentColor;
        height: 1.8rem;
        width: 1.8rem;
      }

      &:hover {
        background-color: darken($grey-80, 10%);
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
        translate: 0 -0.2rem;
      }
    }

    .developerLink {
      text-decoration: underline;
    }
  }

  @include media-query("sm", "up") {
    .footerWrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include media-query("md", "up") {
    .copyRightSection {
      margin-top: 2.4rem;
    }
  }

  @include media-query("lg", "up") {
    .footerWrapper {
      grid-template-columns: repeat(auto-fit, minmax(22.5rem, 1fr));
    }
  }
}
