.wrapper {
  display: grid;
  row-gap: 1.5rem;

  .copy {
    background-color: $white;

    .headline {
      letter-spacing: 8px;
      text-transform: uppercase;
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100px;
    }

    .text {
      display: grid;
      row-gap: 1rem;
      text-align: left;
      font-family: Jost, sans-serif;
      font-size: 16px;
      font-weight: 300;
      line-height: 35px;
    }
  }

  .imageWrapper {
    position: relative;
    height: 38rem;

    .image {
      object-fit: cover;
      object-position: 25% 30%;
    }
  }

  @include media-query("lg", "up") {
    grid-template-columns: 1fr 1fr;

    .copy {
      translate: 3rem 0;
      padding: 2.4rem;
      margin-top: 5rem;
      align-self: start;
      z-index: 1;

      .headline {
        letter-spacing: 4px;
      }
    }

    .imageWrapper {
      height: 78rem;

      .image {
        width: 100%;
        object-position: center;
      }
    }

    &.reverse {
      .copy {
        translate: -3rem 0;
      }
      .imageWrapper {
        grid-column: 1;
        grid-row: 1;
        height: 78rem;
      }
    }
  }
}
